name: Docker Image CI

on:
  workflow_call:
  workflow_dispatch:

env:
  IMAGE_NAME: 423408880404.dkr.ecr.us-east-1.amazonaws.com/docmanager-dev-repo
  AWS_REGION: us-east-1

permissions:
  contents: read
  id-token: write

jobs:

  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: lambda
    
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag $IMAGE_NAME:$(date +%s)
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        role-to-assume: arn:aws:iam::423408880404:role/GitHubAction-AssumeRoleWithAction
        aws-region: us-east-1
    - name: Login to ECR
      run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $IMAGE_NAME
    - name: Push container image
      run: docker push $IMAGE_NAME
